<template>
  <div class="container">
    <div class="holder">
    <form @submit.prevent="addSkill">
      <input type="text" placeholder="Enter a skill you have.." v-model="skill" v-validate="'min:5'" name="skill" />
      <transition  enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
        <p class="alert" v-show="errors.has('skill')">{{ errors.first('skill') }}</p>
      </transition>
    </form> 
    <ul>
      <transition-group name="list" enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
        <li v-for="(data, index) in skills" :key="index">
           {{ data.skill }}
        </li>
      </transition-group>
      </ul>
      
      <p v-if="skills.length > 1 "> Yeeep, You have more then 1 skills</p>
      <p v-else> You don't have any skills </p>
      
    </div>
  </div>
</template>

<script>
export default {
  name: 'Skills',
  data: function() {
    return {
      skill: '',
      skills: [
        { skill: 'Vue.js'},
        { skill: 'Front end developer'}
      ]
    }
  },
  methods: {
    addSkill: function() {
      this.$validator.validateAll().then((result) => {
        if(result){
          this.skills.push({skill: this.skill});
          this.skill= '';
        }
        else{
          console.log('Not valid');
        }
      })
     
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
  .container {
    box-shadow: 0px 0px 40px lightgray;
  }
  .holder {
    background: #fff;
    width: 100%;
  }
  .holder input {
    border: none;
    padding: 20px 0 20px 2%;
    background-color: #4C4A48;
    color: #687F7F;
    font-size: 1.3em;
    width: -webkit-fill-available;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: #E0EDF4;
    margin-bottom: 2px;
    color: #3E5252;
    border-left: 5px solid #3EB3F6;
  }
  p {
    text-align: center;
    color: gray;
    padding: 20px 10px;;
  }
  .alert {
    background: #fdf2ce;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
  }
.alert-in-enter-active {
  animation: bounce-in .5s;
}
.alert-in-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>
